<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<h1> Cart</h1>
<a href="https://www.drmartens.com/uk/en_gb/101-ys/p/26230001"><img src="../static/pr1.jpg" width="300" height="300"/>  101 Smooth Leather Lace Up Boots  180$ </a>
<a href="https://www.drmartens.com/uk/en_gb/sinclair-lazy-oaf%C2%A0%E2%80%8Bleather-boots/p/27518001"><img src="../static/pr4.jpg" width="300" height="300"/> Sinclair Lazy Oaf Leather Boots 250$ </a>
</body>
</html>