<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dr. Martens</title>
</head>
<body>
    <h2> Trending </h2><img src="../static/logo.jpg" width="70" height="70">
    <p> Here are the most trending Dr. Martens of this month
    <img src="../static/dc1.jpg" alt="Quad Leather Platform Shoes" align="right" width="200" height="200">
    <img src ="../static/dc2.jpg" alt="Smooth Leather Lace Up Boots" align="left" width="200" height="200">
    <img src="../static/dc3.jpg" alt="Myles Slip On Sandals" align="right" width="200" height="200">
    <img src="../static/dc4.jpg" alt="Church Quad Blackchurch" align="left" width="200" height="200">
    <p> For more information and products visit the product page!</p>
    <button><a  href="{{url_for('product_p')}}"> Here!</a> </button>
    <p> To visit your cart </p>
    <button><a  href="{{url_for('cart_c')}}"> Your Cart</a> </button>
</body>
</html>