<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dr. Martens</title>
</head>
<body>
    <h2> Trending </h2>
    <img src="logo.jpg" width="50" height="50">
    <p> Here are the most trending Dr. Martens of this month
    <img src="dc1.jpg" alt="Quad Leather Platform Shoes" align="right" width="200" height="200">
    <img src ="dc2.jpg" alt="Smooth Leather Lace Up Boots" align="left" width="200" height="200">
    <img src="dc3.jpg" alt="Myles Slip On Sandals" align="right" width="200" height="200">
    <img src="dc4.jpg" alt="Church Quad Blackchurch" align="left" width="200" height="200">
    <p> Fore more information and products visit the product page!</p>
    <button src="product.html"> Here! </button>
</body>
</html>