<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boots and Sandals</title>
</head>
<body>
    <p> Most reviewed boots and sandals</p>
    <a href="https://www.drmartens.com/uk/en_gb/1460-black/p/11822006"><img src="../static/dc2.jpg" width="300" height="300"/> Smooth Leather Lace Up Boots 200$</a><button><a  href="{{url_for('cart_c')}}"> Add to cart</a> </button>

    <a href="https://www.drmartens.com/uk/en_gb/101-ys/p/26230001"><img src="../static/pr1.jpg" width="300" height="300"/>  101 Smooth Leather Lace Up Boots  180$ </a><button><a  href="{{url_for('cart_c')}}"> Add to cart</a> </button>

    <a href="https://www.drmartens.com/uk/en_gb/jadon-black/p/15265001"><img src="../static/pr2.jpg" width="300" height="300"/> Jadon Smooth Leather Platform Boots 220$</a><button><a  href="{{url_for('cart_c')}}"> Add to cart</a> </button>

    <a href="https://www.drmartens.com/uk/en_gb/jadon-ii-leather-platform-boots/p/26378001"><img src="../static/pr3.jpg" width="300" height="300"/> Jadon III Pisa Leather Platform Boots 230$</a><button><a  href="{{url_for('cart_c')}}"> Add to cart</a> </button>

    <a href="https://www.drmartens.com/uk/en_gb/sinclair-lazy-oaf%C2%A0%E2%80%8Bleather-boots/p/27518001"><img src="../static/pr4.jpg" width="300" height="300"/> Sinclair Lazy Oaf Leather Boots 250$ </a><button><a  href="{{url_for('cart_c')}}"> Add to cart</a> </button>

    <a href="https://www.drmartens.com/uk/en_gb/1460-floral-bloom-lace-up-boots/p/27247001"><img src="../static/pr5.jpg" width="300" height="300"/> 1460 Floral Bloom Lace Up Boots 220$</a><button><a  href="{{url_for('cart_c')}}"> Add to cart</a> </button>
    
</body>
</html>